.song-body{
    background-color: rgb(248, 241, 241);
    display: block;
}
p{
    text-align: center;
}

.lyrics{
    margin-bottom: 0;
}

.song-body li{
    padding: 1rem;

}

h1{
    padding: 0;
    margin: 0;
    text-align: center;
}
ol{
    list-style:circle;
    padding: 0;
    margin: 0;;
}

.whole-life{
    background-color: rgb(2, 84, 100);


}

.levitating{
    background-color: rgb(248, 241, 241);

}

.title{
    padding: 0;
    margin: 0;
}

.saturno{
    background-color: rgb(248, 241, 241);
}

.surfaces{
    background-color:rgb(2, 84, 100);
}